version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspaces/ada-pastebin:cached
    env_file:
      - .env
    depends_on:
      - db
      - s3
    network_mode: service:db
    command: sleep infinity

  db:
    image: docker.io/postgres:17
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql
    env_file:
      - .env

  s3:
    image: docker.io/minio/minio:latest
    restart: unless-stopped
    volumes:
      - s3-data:/data
    network_mode: service:db
    command: server /data --console-address ":9001"

volumes:
  postgres-data:
  s3-data:
