{% extends "pastebin.html.j2" %}

{% block meta %}
<meta name="description" content="{{ paste.get_title() }}">
<meta name="paste_id" content="{{ paste.paste_id }}">
{% endblock %}

{% block title %}{{ paste.get_title() }}{% endblock %}

{% block captcha %}{% endblock %}

{% block content %}
{% if owned %}
<div class="modal fade" id="edit-paste-modal" tabindex="-1" aria-labelledby="edit-paste-modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="edit-paste-form" action="/pastebin/{{ paste.paste_id }}" method="patch">
                <fieldset id="edit-paste-fields">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="edit-paste-modal-title">Edit</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="title" class="form-label">Name / Title</label>
                            <input type="text" class="form-control" id="title" name="title" maxlength="50"
                                value="{{ paste.get_title() }}">
                        </div>
                        <div class="mb-3">
                            <label for="tags" class="form-label">Tags</label>
                            <input type="text" class="form-control tagbox" id="tags" name="tags" maxlength="250"
                                value="{% for tag in paste.get_tags() %}{{ tag }} {% endfor %}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary bg-primary" value="Save" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endif %}

<div class="row mb-3">
    <div class="col">
        <form action="/pastebin/{{ paste.paste_id }}" class="d-flex align-items-center" id="delete-form" method="delete">
            <span>
                {% for tag in paste.get_tags() %}
                <em><a class="text-decoration-none" href="/pastebin/search/?tags={{ tag }}">{{ tag }}</a></em>
                {% endfor %}
            </span>
            <span class="d-none d-md-block text-muted ms-auto">
                <small class="me-2">VIEWS - {{ views }}</small>

                <button class="d-none btn btn-outline-secondary btn-sm c-paste-btn" id="share-btn" title="Share">
                    <img src="//{{ static_domain }}/static/img/share.svg" height="16" width="16" alt="Share" loading="lazy" />
                </button>

                {% if paste.gdrivedl.is_none() %}
                <a href="{{ content_url }}"
                    class="btn btn-outline-secondary btn-sm c-paste-btn" id="download-btn" title="Download" download>
                    <img src="//{{ static_domain }}/static/img/download.svg" height="16" width="16" alt="Download" loading="lazy" />
                </a>
                {% endif %}

                {% if owned %}
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                <button class="btn btn-outline-secondary btn-sm d-none c-paste-btn" id="edit-btn" title="Edit" type="submit">
                    <img src="//{{ static_domain }}/static/img/edit.svg" height="16" width="16" alt="Edit" loading="lazy" />
                </button>
                <button class="btn btn-outline-secondary btn-sm c-paste-btn" id="delete-btn" title="Delete" type="submit">
                    <img src="//{{ static_domain }}/static/img/trash.svg" height="16" width="16" alt="Delete" loading="lazy" />
                </button>
                {% endif %}

                {% if paste.get_format() == "log" %}
                <a href="#" class="btn btn-outline-secondary btn-sm c-paste-btn" id="terminal-btn" title="This is an ANSI log!">
                    <img src="//{{ static_domain }}/static/img/terminal.svg" height="16" width="16" alt="ANSI log!" loading="lazy" />
                </a>
                {% endif %}

                {% if paste.gdrivedl.is_some() %}
                <a href="#" class="btn btn-outline-secondary btn-sm" title="Google Drive Hosted Content!">
                    <img src="//{{ static_domain }}/static/img/drive.webp" height="16" width="16" alt="Google Drive!" loading="lazy">
                </a>
                {% endif %}

                {% if paste.get_rcscore() == 0.5 %}
                <a href="/pastebin/api/v1/about" class="btn btn-outline-secondary btn-sm c-paste-btn" title="This paste was made from the API!">
                    <img src="//{{ static_domain }}/static/img/code.svg" height="16" width="16" alt="API Paste!" loading="lazy">
                </a>
                {% endif %}
            </span>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1 class="visually-hidden">{{ paste.get_title() }}</h1>
        <article id="content" role="main">
            <noscript>
                <p>Oop, you need Javascript to view this content.
                {% if paste.gdrivedl.is_none() %}
                Alternatively, you can
                <a class="text-decorations-none" href="{{ content_url }}" download>download this file</a>
                and open it on your own computer.
                {% endif %}
            </noscript>
            <iframe class="d-none" id="content-frame" src="about:blank" sandbox="allow-same-origin" title="content-html"></iframe>
            <pre class="d-none text-light" id="content-text" title="content-text"></pre>
            <pre class="d-none text-light" id="content-terminal" title="content-log"></pre>
        </article>
        <div class="d-none text-light" id="loader">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading content, please wait ... <span id="loader-result"></span>
        </div>
    </div>
</div>
{% endblock %}

{% block moretail %}
<input type="hidden" id="paste-id" value="{{ paste.paste_id }}">
<input type="hidden" id="format" value="{{ paste.get_format() }}">
<input type="hidden" id="content-url" value="{{ content_url }}">
<script src="//{{ static_domain }}/static/js/paste.js?t=20251230-b" type="module"></script>
{% endblock %}
