{% extends "pastebin.html.j2" %}

{% block meta %}
<meta name="description" content="{{ paste.get_title() }}">
<meta name="paste_id" content="{{ paste.paste_id }}">
{% endblock %}

{% block title %}{{ paste.get_title() }}{% endblock %}

{% block captcha %}{% endblock %}

{% block evenmorehead %}
{% if paste.get_format() == "log" %}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/xterm/5.5.0/xterm.css"
    integrity="sha512-AbNrj/oSHJaILgcdnkYm+DQ08SqVbZ8jlkJbFyyS1WDcAaXAcAfxJnCH69el7oVgTwVwyA5u5T+RdFyUykrV3Q=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
/>
{% endif %}
{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col">
        <form action="/pastebin/{{ paste.paste_id }}" class="d-flex align-items-center" id="delete-form" method="post">
            <span>
                {% for tag in paste.get_tags() %}
                <em><a class="text-decoration-none" href="/pastebin/search/?tags={{ tag }}">{{ tag }}</a></em>
                {% endfor %}
            </span>
            <span class="d-none d-md-block text-muted ms-auto">
                <small class="me-2">VIEWS - {{ views }}</small>

                <button class="d-none btn btn-outline-secondary btn-sm c-paste-btn" id="share-btn" title="Share">
                    <img src="//{{ static_domain }}/static/img/share.svg" height="16" width="16" alt="Share" loading="lazy" />
                </button>

                <a href="
                    {% if paste.gdrivedl.is_some() %}
                    {{ paste.gdrivedl.as_ref().unwrap() }}
                    {% else %}
                    {{ content_url }}
                    {% endif %}
                " class="btn btn-outline-secondary btn-sm c-paste-btn" id="download-btn" title="Download" download>
                    <img src="//{{ static_domain }}/static/img/download.svg" height="16" width="16" alt="Download" loading="lazy" />
                </a>

                {% if owned %}
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                <button class="btn btn-outline-secondary btn-sm c-paste-btn" id="delete-btn" title="Delete" type="submit">
                    <img src="//{{ static_domain }}/static/img/trash.svg" height="16" width="16" alt="Delete" loading="lazy" />
                </button>
                {% endif %}

                {% if paste.gdrivedl.is_some() %}
                <a href="#" class="btn btn-outline-secondary btn-sm" title="Google Drive Hosted Content!">
                    <img src="//{{ static_domain }}/static/img/drive.webp" height="16" width="16" alt="Google Drive!" loading="lazy">
                </a>
                {% endif %}
            </span>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1 class="visually-hidden">{{ paste.get_title() }}</h1>
        <article id="content" role="main">
            <noscript>
                <p>Oop, you need Javascript to view this content. Alternatively, you can
                <a class="text-decorations-none" href="{{ content_url }}">download this file</a>
                and open it on your own computer.
            </noscript>
            <iframe class="d-none" id="content-frame" src="about:blank" sandbox="allow-same-origin" title="content-html"></iframe>
            <pre class="d-none text-light" id="content-text" title="content-text"></pre>
            <div class="d-none text-light" id="content-terminal" title="content-log"></div>
        </article>
        <div class="d-none text-light" id="loader">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading content, please wait ... <span id="loader-result"></span>
        </div>
    </div>
</div>
{% endblock %}

{% block moretail %}
<input type="hidden" id="paste-id" value="{{ paste.paste_id }}">
<input type="hidden" id="format" value="{{ paste.get_format() }}">
<input type="hidden" id="content-url" value="{{ content_url }}">
{% if paste.get_format() == "log" %}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/xterm/5.5.0/xterm.js"
    integrity="sha512-Gujw5GajF5is3nMoGv9X+tCMqePLL/60qvAv1LofUZTV9jK8ENbM9L+maGmOsNzuZaiuyc/fpph1KT9uR5w3CQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer">
</script>
{% endif %}
<script src="//{{ static_domain }}/static/js/paste.js?t=20241108-b"></script>
{% endblock %}
